#header {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: transparent;
    backdrop-filter: blur(6px);
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    background: linear-gradient(to right, rgba(248, 113, 113, .67), rgba(209, 213, 219, .67), rgba(59, 130, 246, .67));

    .wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(60px, auto);

        .child {
            &.center {
                justify-self: center;
            }

            &.end {
                justify-self: end;

                .button {
                    position: relative;
                    cursor: pointer;

                    &:after {
                        content: '';
                        position: absolute;
                        left: -8px;
                        bottom: -8px;
                        top: unset;
                        right: unset;
                        border-radius: 50%;
                        opacity: 0;
                        width: calc(100% + 16px);
                        height: calc(100% + 16px);
                        pointer-events: none;
                        transform: scale(.8);
                        transition: all .3s cubic-bezier(.35, 0, 0, 1);
                        transition-property: opacity, transform;
                        background-color: rgba(255, 255, 255, .1);
                    }

                    &:hover {
                        &:after {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }

                    svg {
                        fill: #fff;
                    }
                }
            }
        }
    }

    .logo {
        a {
            font-size: 30px;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
        }
    }

    nav {
        .pill {
            display: flex;
            gap: 48px;
            padding: 1px 32px;
            background-color: rgba(0, 15, 30, .4);
            border: 1px solid rgba(255, 255, 255, .2);
            backdrop-filter: blur(20px);
            border-radius: 100px;

            a {
                position: relative;
                text-decoration: none;
                color: #fff;

                &:after {
                    content: '';
                    position: absolute;
                    left: -16px;
                    bottom: -1px;
                    width: calc(100% + 32px);
                    height: 26px;
                    background-color: rgba(0, 15, 30, .1);
                    border-radius: 22px;
                    opacity: 0;
                    transform: scale(.8);
                    transition: all .3s cubic-bezier(.35, 0, 0, 1);
                    transition-property: opacity, transform;
                }

                &:hover,
                &.current {
                    &:after {
                        opacity: 1;
                        transform: scale(1)
                    }
                }
            }
        }
    }
}
