.btn {
    box-shadow: unset !important;
    outline: unset !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    min-width: 200px;
    padding: 0 24px 0 20px;
    text-align: center;
    border-radius: 6px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;

    &-pink {
        background-color: $pink;
        border: unset !important;
        color: #fff !important;

        &:hover {
            background-color: $hoverPink;

            &:active {
                background-color: $activePink;
            }
        }

        &:focus {
            background-color: $activePink;
        }
    }

    &-primary {
        background-color: $primary;
        border-color: $primary;

        &:hover {
            background-color: $hoverPrimary;
            border-color: $hoverPrimary;
        }

        &:active,
        &:focus {
            background-color: $activePrimary;
            border-color: $activePrimary;
        }
    }

    &-success {
        background-color: $success;
        border-color: $success;

        &:hover {
            background-color: $hoverSuccess;
            border-color: $hoverSuccess;
        }

        &:active,
        &:focus {
            background-color: $activeSuccess;
            border-color: $activeSuccess;
        }
    }
}

.container {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin: {
        left: auto;
        right: auto;
    };

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1620px;
    }
}
