[data-ctype='ce_heroslides'] {
    position: relative;

    &.user-selected {
        .navigation .inner .bar-mask .bar {
            width: 100% !important;
        }
    }

    .contents {
        background-color: #00162b;
        position: relative;
        overflow: hidden;
        height: 520px;
        content-visibility: auto;
        contain: size layout paint style;
        z-index: 1;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);

        @media (min-width: 768px) {
            height: 750px;
        }

        .item {
            position: absolute;
            height: 100%;
            width: 100%;

            &.fade-in {
                .image-view {
                    transform: scale(1.2);
                    transition: transform 3s, opacity .5s;
                    opacity: 1;
                }

                .text-view {
                    .subheader,
                    .header,
                    .btn {
                        opacity: 1;
                        transform: translateX(0px);
                        transition-duration: .8s !important;
                    }
                }
            }

            &.fade-out {
                .image-view {
                    transform: scale(1.2) translateX(-220px);
                    transition: opacity 2s, transform 1.5s;
                    opacity: 0;
                }

                .text-view {
                    .subheader,
                    .header,
                    .btn {
                        opacity: 0;
                    }

                    .subheader {
                        transform: translateX(-90px);
                    }

                    .header {
                        transform: translateX(-120px);
                    }

                    .btn {
                        transform: translateX(-150px);
                    }
                }
            }

            &:not(.active) {
                opacity: 0;
                z-index: -1;
            }

            .image-view {
                opacity: 0;
                position: absolute;
                height: 100%;
                transition-property: opacity;
                transition-duration: .3s;

                img {
                    height: auto;
                    width: 100%;
                    display: block;
                }
            }

            .text-view {
                display: grid;
                align-content: center;
                width: 100%;
                height: 100%;
                overflow: hidden;

                .subheader,
                .header,
                .btn {
                    color: #fff;
                    font-weight: 700;
                    opacity: 0;
                    transition-property: opacity, transform;
                }

                .subheader {
                    font-size: 16px;
                    line-height: 16px;
                    transform: translateX(90px);
                }

                .header {
                    font-size: 32px;
                    line-height: 36px;
                    transform: translateX(120px);

                    @media (min-width: 992px) {
                        font-size: 60px;
                        line-height: 68px;
                    }

                    @media (min-width: 1400px) {
                        width: 65%;
                    }
                }

                .btn {
                    width: max-content;
                    margin-top: 32px;
                    transform: translateX(150px);
                    transition: unset !important;
                }
            }
        }
    }

    .navigation {
        position: absolute;
        width: 100%;
        bottom: 20px;
        z-index: 1;

        .inner {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 20px;

            .item {
                color: #fff;
                opacity: .2;
                cursor: pointer;

                &.active {
                    opacity: 1;

                    .bar-mask {
                        .bar {
                            background-color: $pink;
                            animation: 5s heroslider-fadein-bar forwards;
                        }
                    }
                }

                .bar-mask {
                    margin-bottom: 12px;
                    height: 2px;
                    border-radius: 1px;
                    background-color: #fff;

                    .bar {
                        height: 100%;
                        margin-right: auto;
                        width: 0%;
                    }
                }

                p {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}

@keyframes heroslider-fadein-image {
    100% {
        background-size: 110% auto;
    }
}

@keyframes heroslider-fadeout-image {
    100% {
        background-size: 100% auto !important;
        transform: translateX(-250px);
        transition: .1s transform;
    }
}

@keyframes heroslider-fadein-bar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
