<site:page.header />
<site:menu pageUid="1" depth="2" as="rootpage" />

<div class="wrapper">
    <div class="child">
        <f:if condition="{logo}">
            <f:image class="img-fluid" src="{logo.uid}" treatIdAsReference="1" />
        </f:if>

        <div class="logo">
            <a href="/" rel="prerender" target="_self">
                iMati.dev
            </a>
        </div>
    </div>

    <div class="child center">
        <nav aria-label="Header">
            <div class="pill">
                <f:for each="{rootpage.subpages}" as="item" iteration="i">
                    <a class="item{f:if(condition: '{item.uid} === {page.uid}', then: ' current')}" href="{item.slug}">
                        {item.nav_title}
                    </a>
                </f:for>
            </div>
        </nav>
    </div>

    <div class="child end">
        <div class="button">
            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M24 0v24H0V0" data-name="Bounding area"></path><path d="M10 5.5A4.5 4.5 0 115.5 10 4.51 4.51 0 0110 5.5M10 4a6 6 0 106 6 6 6 0 00-6-6z"></path><rect x="17.25" y="15.18" width="1.5" height="5.66" rx=".5" ry=".5" transform="rotate(-45 17.998 18.005)"></rect></svg>
        </div>
    </div>
</div>
