<f:layout name="Default" />

<f:section name="Main">
    <div class="contents">
        <f:for each="{data.heroslides_items}" as="item" iteration="i">
            <div class="item{f:if(condition: i.isFirst, then: ' active')}" data-uid="{item.uid}">
                <f:if condition="{item.image}">
                    <div class="image-view" style="position: absolute;">
                        <f:image src="{item.image.uid}" treatIdAsReference="1" />
                    </div>

                    <div class="text-view container-lookalike">
                        <f:if condition="{item.subheader}">
                            <h2 class="subheader">
                                <f:format.raw>{item.subheader}</f:format.raw>
                            </h2>
                        </f:if>

                        <h2 class="header">
                            {item.header}
                        </h2>

                        <f:link.typolink parameter="{item.link}" class="btn btn-pink waves-effect waves-light">
                            {item.linktext}
                        </f:link.typolink>
                    </div>
                </f:if>
            </div>
        </f:for>
    </div>

    <div class="navigation">
        <div class="inner container-lookalike">
            <f:for each="{data.heroslides_items}" as="item" iteration="i">
                <div class="item{f:if(condition: i.isFirst, then: ' active')}" data-uid="{item.uid}">
                    <div class="bar-mask">
                        <div class="bar"></div>
                    </div>

                    <p>
                        {item.header}
                    </p>
                </div>
            </f:for>
        </div>
    </div>
</f:section>
