<f:layout name="Default" />

<f:section name="HeaderAssets">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</f:section>

<f:section name="Main">
    <div id="header">
        <f:render partial="Header" arguments="{page: data}" />
    </div>

    <main>
        <div class="panels">
            <div class="panel" data-panel="search">
                
            </div>
        </div>

        <div id="content">
            <f:format.raw>{content}</f:format.raw>
        </div>
    </main>

    <footer>
        <f:render partial="Footer" arguments="{page: data}" />
    </footer>

    <h1>
        test
    </h1>
</f:section>
